<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--1、应用名称设置-->
    <dubbo:application name="userprovider"></dubbo:application>
    <!--2、配置注册中心-->
    <dubbo:registry address="10.8.163.82:2181" protocol="zookeeper" check="false"></dubbo:registry>
    <!--3、设置协议-->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>
    <!--4、设置发布的服务-->
    <dubbo:service interface="com.qfedu.newhorizon.service.user.UserService" ref="userProvider" retries="0" timeout="20000"></dubbo:service>
    <dubbo:service interface="com.qfedu.newhorizon.service.user.UserDetailService" ref="userDetailProvider" retries="0" timeout="20000"></dubbo:service>
    <dubbo:service interface="com.qfedu.newhorizon.service.user.AddressService" ref="addressProvider" retries="0" timeout="20000"></dubbo:service>
    <dubbo:service interface="com.qfedu.newhorizon.service.user.UserAddrService" ref="userAddrProvider" retries="0" timeout="20000"></dubbo:service>
</beans>