<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.newhorizon.mapper.user.ProvinceMapper" >
    <resultMap id="BaseResultMap" type="com.qfedu.newhorizon.domain.user.Province" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="pname" property="pname" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, pname
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select <include refid="Base_Column_List" /> from t_province where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_province
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.qfedu.newhorizon.domain.user.Province" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_province (pname)
        values (#{pname,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.qfedu.newhorizon.domain.user.Province" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_province
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="pname != null" >
                pname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pname != null" >
                #{pname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.newhorizon.domain.user.Province" >
        update t_province
        <set >
            <if test="pname != null" >
                pname = #{pname,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qfedu.newhorizon.domain.user.Province" >
        update t_province
        set pname = #{pname,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from t_province
    </select>

</mapper>